# Part-2: Segmenting and Clustering Neighborhoods in Toronto

<b>IBM Data Science Specialztion - Coursera</b><br>
Week 3 assignment

Md Ibtehajul Islam<br>
Email: iibtehajul@gmail.com<br>
LinkedIn: islam-md-ibtehajul<br>

# Importing the libraries

In [53]:
import pandas as pd
import numpy as np

## Reading the created csv file

In [54]:
df = pd.read_csv('List of postal codes of Canada.csv')
print(df.shape)
df.head()

(287, 3)

  Postalcode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

## Data Wrangling:

In [55]:
# Replacing all "Not Assigned" to NaN values:
df['Borough'].replace('Not assigned', np.nan, inplace = True)
df = df.dropna() # Dropping all the Nan values/missing values in Borough column
df.shape

(210, 3)

## Grouping the neighbourhood by Postalcode and Borough

In [56]:
df = df.groupby(['Postalcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()

,Postalcode,Borough,Neighbourhood
88,M8V,Etobicoke,"Humber Bay Shores, Mimico South, New Toronto"
89,M8W,Etobicoke,"Alderwood, Long Branch"
90,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
91,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So..."
92,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen..."
93,M9A,Queen's Park,Not assigned
94,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ..."
95,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol..."
96,M9L,North York,Humber Summit
97,M9M,North York,"Emery, Humberlea"
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv..."
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ..."
102,M9W,Etobicoke,Northwest

In [58]:
df['Borough'].unique()

array(['Scarborough', 'North York', 'East York', 'East Toronto',
       'Central Toronto', 'Downtown Toronto', 'York', 'West Toronto',
       'Mississauga', 'Etobicoke', "Queen's Park"], dtype=object)

## Deal with Not assigned Neighborhood
For M7A Queen's Park, there is no neighborhood assigned.We will replace the 'Not assigned' with the value of the corresponding Borough.

In [60]:
df.iloc[93]

Postalcode                M9A
Borough          Queen's Park
Neighbourhood    Not assigned
Name: 93, dtype: object

In [61]:
df_n = df.Neighbourhood == 'Not assigned'
df.loc[df_n, 'Neighbourhood'] = df.loc[df_n, 'Borough']
df[df_n]

   Postalcode       Borough Neighbourhood
93        M9A  Queen's Park  Queen's Park

In [62]:
print(df.shape)
df.head()

(103, 3)

  Postalcode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [63]:
df.to_csv('List of postal codes of Canada_final.csv', index=False)